#eventsheet-embed-widget {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin: 20px 0 0 0;
    padding: 20px;
    background: #1e1e1e;
    border-radius: 0.5em;
}

#eventsheet-embed-widget ul {
    list-style: none;
    padding: 0;
}

#eventsheet-embed-widget .location {
    padding-left: 5em;
    width: 100%;
}

#eventsheet-embed-widget .location .venue,
#eventsheet-embed-widget .tickets {
    color: #ffffff;
    text-decoration: none;
}

#eventsheet-embed-widget .location .venue {
    font-size: 1.5em;
    font-weight: bold;
}

#eventsheet-embed-widget .tickets {
    width: 10em;
    background-color: #4351f2;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
}

#eventsheet-embed-widget .event {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
}

#eventsheet-embed-widget .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#eventsheet-embed-widget .month,
#eventsheet-embed-widget .day,
#eventsheet-embed-widget .year {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 2px 0;
}

#eventsheet-embed-widget .month {
    font-size: 1.2em;
    font-weight: 100;
}

#eventsheet-embed-widget .day {
    font-size: 2em;
    font-weight: bold;
}