#eventsheet-embed-widget {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    background: #1e1e1e;
    margin-top: 1.25em;
    border-radius: 0.5em;
}

#eventsheet-embed-widget ul {
    list-style: none;
    padding: 0;
}

#eventsheet-embed-widget .location {
    padding-left: 5em;
    width: 100%;
}

#eventsheet-embed-widget .location .venue {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5em;
    font-weight: bold;
}

#eventsheet-embed-widget .tickets {
    width: 10em;
    background-color: #4351f2;
    color: white;
    border: none;
    padding: 0.625em 1em;
    text-transform: uppercase;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

#eventsheet-embed-widget .tickets:hover {
    background-color: #8e50de;
}

#eventsheet-embed-widget .event {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
}

#eventsheet-embed-widget .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the items horizontally */
    justify-content: center;
    /* Center the items vertically if there is extra space */
}

#eventsheet-embed-widget .month,
.day,
.year {
    text-align: center;
    font-family: monospace;
}

#eventsheet-embed-widget .month {
    font-size: 1.2em;
    font-weight: 100;
    text-transform: uppercase;
}

#eventsheet-embed-widget .day {
    font-size: 2em;
    font-weight: bold;
}